*{
    margin: 0;
    padding: 0;
    cursor: default;
    box-sizing: border-box;
}
.headings h3{
    text-transform: capitalize;
    font-size: 3rem;
    border-top: 1px solid black;
    padding: 0.8rem 1rem;
}

/* ======- panel -====== */

.getReview, .experienceBtn{
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.getReview:hover{
    background: #000;
    color: #fff;
}

/* ======- FOOTER -====== */

footer {
    padding: 0.5rem;
    background-color: #dfdfdf;
    text-align: center;
}

/* footer text */
footer div p{
    font-family: rubik one;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer div p i.red{
    color: red;
    size: 24px;
}

/* footer text effects */
footer div p span{
    transition: background-color,color 1500ms ease;
    background-color: black;
    color: white;
}

/* Footer Image Links */
footer a.github {
    -webkit-transition:color 500ms ease;
    -moz-transition:color 500ms ease;
    -o-transition:color 500ms ease;
    transition: color 500ms ease;
    font-size: 3em;
    color: #0d2636;
    padding: 10px;
    display:inline-block;
    ion-icon{
        cursor: pointer;
    }
}

footer a.instagram {
    -webkit-transition:color 500ms ease;
    -moz-transition:color 500ms ease;
    -o-transition:color 500ms ease;
    transition: color 500ms ease;
    font-size: 3em;
    color: #0d2636;
    padding: 10px;
    display:inline-block;
    ion-icon{
        cursor: pointer;
    }
}

/* image links hover effects */
footer a.github:hover {
    color: black;
}

footer a.instagram:hover {
    color: #b4004b;
}

/* Resposive Footer */
footer.mobile {
    display:none;
}

@media screen and (max-width: 400px) {
    footer.pc {
        display:none;
    }
    footer.mobile {
        display:block;
    }
    footer.mobile div p {
        font-size: 15px;
    }

}